<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="KabMan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="KabMan.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="KabMan.Properties.Settings.KabManConnectionString"
      connectionString="Data Source=ORION\SQL2008; Initial Catalog=KabMan; Integrated Security=True" />
  </connectionStrings>
  <userSettings>
    <KabMan.Properties.Settings>
      <setting name="PasswordChar" serializeAs="String">
        <value>●</value>
      </setting>
      <setting name="ImportSwitchFileName" serializeAs="String">
        <value>SAN_Switch_TUI.xls</value>
      </setting>
      <setting name="ImportServerFileName" serializeAs="String">
        <value>SAN_Server_TUI.xls</value>
      </setting>
      <setting name="ImportDasdFileName" serializeAs="String">
        <value>SAN_DASD_TUI.xls</value>
      </setting>
      <setting name="ImportServerPageColumns" serializeAs="String">
        <value>{No:No};{Name:Name};{OS:Operating System};{LcUrm:URM LC};{Blech:BLECH};{Trunk:TRUNK};{VtPort:VT PORT};{UrmUrm:URM URM}</value>
      </setting>
      <setting name="ImportDasdPageColumns" serializeAs="String">
        <value>{No:No};{Name:Name};{Model:Model};{Port:Port};{LcUrm:URM LC};{Blech:BLECH};{Trunk:TRUNK};{VtPort:VT PORT};{UrmUrm:URM URM}</value>
      </setting>
      <setting name="ImportSwitchPageColumns" serializeAs="String">
        <value>{No:No};{Name:Name};{Model:Model};{Port:Port};{LcUrm:URM LC};{Blech:BLECH};{Trunk:TRUNK};{VtPort:VT PORT};{UrmUrm:URM URM};{ConnectionName:Connection Name}</value>
      </setting>
      <setting name="ImportDccFileName" serializeAs="String">
        <value>SAN_DCC_TUI.xls</value>
      </setting>
      <setting name="ImportDccPageColumns" serializeAs="String">
        <value>{No:No};{Name:Name};{LcUrm:URM LC};{VtPort1:VT PORT1};{Trunk:TRUNK};{VtPort2:VT PORT2};{UrmUrm:URM URM}</value>
      </setting>
    </KabMan.Properties.Settings>
  </userSettings>
</configuration>